<div class="edit-title">
    <span>Редактор сайта</span>
    <a id="save-button"><img src="/img/ui/save-icon.png" alt="save"></a>
    <a href="/admin/logout"><img src="/img/ui/exit-icon.png" alt="exit"></a>
</div>


<main class="mt-4">
    <form id="gallery-form" action="/admin/upload" method="POST" enctype="multipart/form-data"></form>

    <form id="edit-form" action="/admin" method="POST">

        <div class="container" id="intro">

            <textarea name="welcome_title" rows="1">{{text.welcome_title}}</textarea>
            <textarea name="welcome_text" rows="5">{{text.welcome_text}}</textarea>
            <img src="/img/ui/delimiter.png" alt="" class="delimiter my-4">
            <textarea name="promo_text" rows="5">{{text.promo_text}}</textarea>
        </div>
        <br>


        <div class="container fade" id="history">
            <textarea name="history_title" rows="1">{{text.history_title}}</textarea>
            <textarea name="history_text" rows="10">{{text.history_text}}</textarea>
        </div>
        <br>

        <div id="photo" class="fade container gallery-container">
            <textarea name="photo_title" rows="1">{{text.photo_title}}</textarea>
            <div id="upload">
                <label>Загрузить изображения</label>
                <input id="files" name="files" type="file" form="gallery-form" multiple />
            </div>

            <div class="tz-gallery">
                <div class="card-columns">

                    {{#each galleryImages}}
                    <div class="card photo-card">
                        <a class="delete-photo-button" link="/img/gallery/{{this}}.jpg"><img
                                src="/img/ui/delete-icon-black.png" alt="delete photo"></a>
                        <div class="thumbnail">
                            <a class="lightbox " style="overflow:hidden;" href="/img/gallery/{{this}}.jpg">
                                <img class="card-img-top" style=" width: 100%;" src="/img/gallery/{{this}}.jpg"
                                    alt="Traffic">
                            </a>

                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>


        </div>
        <br>

        <div class="container fade" id="video">
            <textarea name="video_title" rows="1">{{text.video_title}}</textarea>

            {{#each text.videos}}
            <div class="video-item">
                <div class="iframe-container">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{this.videoId}}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <input type="hidden" name="videos[{{this.id}}][id]" value="{{this.id}}">
                <input type="hidden" name="videos[{{this.id}}][class]" value="{{this.class}}">
                <input class="videoId-input" type="hidden" name="videos[{{this.id}}][videoId]" value="{{this.videoId}}">
                <textarea id="" rows="1">https://www.youtube.com/watch?v={{this.videoId}}</textarea>
            </div>
            {{/each}}
        </div>
        </div>

        <br>

        <div class="container fade" id="repertoire">
            <textarea name="repertoire_title" rows="1">{{text.repertoire_title}}</textarea>

            <div class="row">
                <div class="col-12 mx-auto">
                    <!-- Accordion -->
                    <div id="accordionExample" class="accordion">

                        {{#each text.repertoire}}
                        <!-- Accordion item-->
                        <div class="card repertoire-card" num="{{this.id}}">
                            <a class="delete-repertoire-button" href=""><img src="/img/ui/delete-icon.png"
                                    alt="delete repertoire"></a>
                            <div id="heading{{this.id}}" class="card-header border-0">

                                <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse"
                                        data-target="#collapse{{this.id}}" aria-expanded="false"
                                        aria-controls="collapseOne"
                                        class="pr-5 d-block position-relative collapsed collapsible-link py-2"><textarea
                                            name="repertoire[{{this.id}}][name]" rows="1">{{this.name}}</textarea></a>
                                </h6>
                            </div>
                            <div id="collapse{{this.id}}" aria-labelledby="heading{{this.id}}"
                                data-parent="#accordionExample" class="collapse">
                                <div class="card-body">
                                    <textarea name="repertoire[{{this.id}}][data]" rows="10">{{this.data}}</textarea>
                                    <input type="hidden" name="repertoire[{{this.id}}][id]" value="{{this.id}}" />
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a id="add-repertoire-button" href=""><img src="/img/ui/plus-icon.png" alt="add repertoire"></a>
                </div>
            </div>

        </div>
        <br>

        <div class="container fade" id="contacts">
            <textarea name="contacts_title" rows="1">{{text.contacts_title}}</textarea>

            <p>
            <div id="phones">
                {{#each text.contacts_phones}}
                <div num="{{this.id}}" class="contact-phone">
                    <input type="hidden" name="contacts_phones[{{this.id}}][id]" value="{{this.id}}">
                    <textarea name="contacts_phones[{{this.id}}][name]" rows="1">{{this.name}}</textarea>
                    <textarea name="contacts_phones[{{this.id}}][phone]" rows="1">{{this.phone}}</textarea>
                    <a class="delete-contact-button" href=""><img src="/img/ui/delete-icon.png" alt="delete contact"></a>

                </div>

                {{/each}}
            </div>
            <a id="add-phone-button" href=""><img src="/img/ui/plus-icon.png" alt="add phone"></a>

            <textarea name="contacts_email" rows="1">{{text.contacts_email}}</textarea>

            </p>
            <div id="social">
                <a href="https://www.youtube.com/channel/UCu7rBk0zuJmjdTyWGTr2TPA/" target="_blank">
                    <img class="social-img" src="/img/ui/youtube-logo.jpg" alt="">
                </a>
                <a href="https://www.facebook.com/groups/286238234775563//" target="_blank">
                    <img class="social-img" src="/img/ui/facebook-logo.png" alt="">
                </a>
                <a href="https://vk.com/club83445962/" target="_blank">
                    <img class="social-img" src="/img/ui/vk-logo.png" alt="">
                </a>
            </div>
        </div>

        <img src="/img/ui/delimiter.png" alt="" class="delimiter my-4">

    </form>

</main>


<script src="/scripts/admin.js"></script>