<main class="mt-4">

    <div class="container" id="intro">
        <p>
            Профессиональный струнный квартет «Вестфалия» поможет сделать любое Ваше мероприятие
            корпоратив или свадьбу, юбилей или Новый год, презентацию или день рождения — особенным
            и запоминающимся.
        </p>
        <p>
            Высоким уровнем качества исполнения мы создадим неповторимую атмосферу изысканности
            и хорошего вкуса для Вас и Ваших гостей.
        </p>
    </div>

    <img src="/img/delimiter.png" alt="" class="delimiter my-4">

    <div class="container" id="history">

        <h2>
            Наша история
        </h2>
        <p>
            Наш музыкальный ансамбль был создан музыкантами, работавшими в Концертном оркестре
            Беларуси под управлением М.Я.Финберга, в 2002 году.
        </p>
        <p>
            За время своего существования, а это уже более 13 лет,
            мы приняли участие в самых разнообразных проектах:
            например таких, как Эдинбургский фестиваль в Шотландии,
            съемки в кинофильмах и видеоклипах, озвучивание ежегодного проекта
            «Бренд года», музыкальное сопровождение открытия знаковых культурных
            событий Минска. С нами постоянно сотрудничают:
            Международный образовательный центр им.Й.Рау, Бизнес-школа ИПМ,
            крупнейшие автосалоны Porshe и Audi, Национальная библиотека Беларуси и многие другие.
        </p>
    </div>


    <div id="photo" class="container gallery-container">

        <h2>
            Фотогалерея
        </h2>

        <div class="tz-gallery">
            <div class="card-columns">

                {{#each galleryImages}}
                <div class="card photo-card">
                    <div class="thumbnail">
                        <a class="lightbox " style="overflow:hidden;" href="/img/gallery/{{this}}.jpg">
                            <img class="card-img-top" style=" width: 100%;" src="/img/gallery/{{this}}.jpg"
                                alt="Traffic">
                        </a>
                        <div class="caption card-body">
                            <p>{{this}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>

    </div>


    <div class="container" id="video">
        <h2>
            Видеогалерея
        </h2>

        <div>
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-interval="false"
                data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner video-container" role="listbox">
                    <div class="carousel-item active">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/RlL9UoclL3A"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/VIp_4n_7EBc"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/DLhxonSVaCg"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/rqN8jjSBa6I"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/JToVTK54Gao"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/LQkHxRA_too"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
                <!--/.Slides-->

                <ol class="carousel-indicators">
                    <li data-target="#carousel-thumb" data-slide-to="0" class="active"> <img class="d-block full-width"
                            src="http://i3.ytimg.com/vi/RlL9UoclL3A/hqdefault.jpg" class="img-fluid"></li>
                    <li data-target="#carousel-thumb" data-slide-to="1"><img class="d-block full-width"
                            src="http://i3.ytimg.com/vi/VIp_4n_7EBc/hqdefault.jpg" class="img-fluid"></li>
                    <li data-target="#carousel-thumb" data-slide-to="2"><img class="d-block full-width"
                            src="http://i3.ytimg.com/vi/DLhxonSVaCg/hqdefault.jpg" class="img-fluid"></li>
                    <li data-target="#carousel-thumb" data-slide-to="3" class="active"> <img class="d-block full-width"
                            src="http://i3.ytimg.com/vi/rqN8jjSBa6I/hqdefault.jpg" class="img-fluid"></li>
                    <li data-target="#carousel-thumb" data-slide-to="4"><img class="d-block full-width"
                            src="http://i3.ytimg.com/vi/JToVTK54Gao/hqdefault.jpg" class="img-fluid"></li>
                    <li data-target="#carousel-thumb" data-slide-to="5"><img class="d-block full-width"
                            src="http://i3.ytimg.com/vi/LQkHxRA_too/hqdefault.jpg" class="img-fluid"></li>
                </ol>
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>

    <div class="container" id="repertoire">
        <h2>
            Репертуар
        </h2>

        <div class="row">
            <div class="col-12 mx-auto">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion">

                    {{#each repertoire}}
                    <!-- Accordion item-->
                    <div class="card">
                        <div id="heading{{this.num}}" class="card-header border-0">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse"
                                    data-target="#collapse{{this.num}}" aria-expanded="false" aria-controls="collapseOne"
                                    class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">{{this.name}}</a></h6>
                        </div>
                        <div id="collapse{{this.num}}" aria-labelledby="heading{{this.num}}" data-parent="#accordionExample"
                            class="collapse">
                            <div class="card-body">
                                <pre class="font-weight-light m-0">{{this.data}}</pre>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>























    </div>









    <div class="container" id="contacts">
        <h2>
            Контакты
        </h2>

        <p>
            По всем интересующим Вас вопросам обращайтесь по телефонам:
            Марина: +375-29-624-60-25 (velcom)
            Игорь:+375-29-752-82-77 (мтс)
            и электронной почте: vip-kvartet@tut.by

        </p>
        <p>
            Республика Беларусь, Минск.
        </p>

    </div>


    <img src="/img/delimiter.png" alt="" class="delimiter">



</main>