<main class="mt-4">


    <div class="container" id="intro">

         <h2>{{text.welcome_title}} </h2>            
        <pre class="para">{{text.welcome_text}}</pre>
        <img src="/img/ui/delimiter.png" alt="" class="delimiter my-4">
        <pre class="para">{{text.promo_text}}</pre>
    </div>



    <div class="container fade" id="history">

        <h2>
            {{text.history_title}}
        </h2>
        <pre class="para">{{text.history_text}}</pre>
    </div>


    <div id="photo" class="fade container gallery-container">

        <h2>
            {{text.photo_title}}
        </h2>

        <div class="tz-gallery">
            <div class="card-columns">

                {{#each galleryImages}}
                <div class="card photo-card">
                    <div class="thumbnail">
                        <a class="lightbox " style="overflow:hidden;" href="/img/gallery/{{this}}.jpg">
                            <img class="card-img-top" style=" width: 100%;" src="/img/gallery/{{this}}.jpg"
                                alt="Traffic">
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>

    </div>


    <div class="container fade" id="video">
        <h2>
            {{text.video_title}}
        </h2>

        <div>
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-interval="false"
                data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner video-container" role="listbox">
                {{#each text.videos}}
                    <div class="carousel-item {{this.class}}">
                        <div class="iframe-container">
                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{this.videoId}}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>                
                {{/each}}    
                </div>
                <!--/.Slides-->

                <ol class="carousel-indicators">
                    {{#each text.videos}}
                    <li data-target="#carousel-thumb" data-slide-to="{{this.id}}" class="{{this.class}}"> <img class="img-fluid d-block full-width"
                            src="https://img.youtube.com/vi/{{this.videoId}}/hqdefault.jpg"></li>
                    {{/each}}
                </ol>
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>

    <div class="container fade" id="repertoire">
        <h2>
            {{text.repertoire_title}}
        </h2>

        <div class="row">
            <div class="col-12 mx-auto">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion">

                     {{#each text.repertoire}}
                    <!-- Accordion item-->
                    <div class="card">
                        <div id="heading{{this.id}}" class="card-header border-0">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse"
                                    data-target="#collapse{{this.id}}" aria-expanded="false"
                                    aria-controls="collapseOne"
                                    class="pr-5 d-block position-relative collapsed collapsible-link py-2">{{this.name}}</a>
                            </h6>
                        </div>
                        <div id="collapse{{this.id}}" aria-labelledby="heading{{this.id}}"
                            data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <pre class="font-weight-light m-0">{{this.data}}</pre>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>

    </div>







    <div class="container fade" id="contacts">
        <h2>
            {{text.contacts_title}}
        </h2>

        <p>
            {{#each text.contacts_phones}}
            <a href="tel:{{this.phone}}">{{this.name}}: {{this.phone}}</a> <br />
            {{/each}}
            <a href="mailto:{{text.contacts_email}}">{{text.contacts_email}}</a>

        </p>
        <div id="social">
            <a href="https://www.youtube.com/channel/UCu7rBk0zuJmjdTyWGTr2TPA/" target="_blank">
                <img class="social-img" src="/img/ui/youtube-logo.jpg" alt="">
            </a>
            <a href="https://www.facebook.com/groups/286238234775563//" target="_blank">
                <img class="social-img" src="/img/ui/facebook-logo.png" alt="">
            </a>
            <a href="https://vk.com/club83445962/" target="_blank">
                <img class="social-img" src="/img/ui/vk-logo.png" alt="">
            </a>
        </div>
    </div>

    <img src="/img/ui/delimiter.png" alt="" class="delimiter my-4">



</main>